
<div id="footer" class="navbar-fixed-bottom" style="background-color: #fff;padding-top: 10px;">
    <form class="form-horizontal clearfix" action="" method="post" style="width: 100%">
        <input id="text_box" type="text" class="form-control pull-left" style="margin-left:2%;width: 74%;" placeholder="写评论">
        <input id="submit_btn" type="button" class="btn btn-success pull-left" style="margin-left:2%;width: 20%;" value="提交">
        <input id="uid_hiden" type="hidden" name="uid" value="">
        <input type="hidden" name="token" value="{_W['token']}">
    </form>
</div>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>