{template 'common/header'}
<link rel="stylesheet" href="../addons/llh_jwschool/template/css/common.css"/>

<nav id="header_back" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-10" style="padding-right: 0">
                <input type="search" class="form-control" placeholder="输入关键字" >
            </div>
            <div class="pull-right">
                <a type="button" id=cancel" class="headerlink" href="javascript:history.go(-1);">取消</a>
                <input type="submit" id="submit" class="headerlink" value="搜索" style="display: none;"/>
            </div>
        </div>

    </div>
</nav>