{template 'common/header'}
<link rel="stylesheet" href="../addons/llh_jwschool/template/css/common.css"/>

<nav id="header_back" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-10" style="padding-right: 0">
                <input id="search_box" type="text" class="form-control" placeholder="输入关键字" >
            </div>
            <div class="pull-right">
                <input id="index_url" type="hidden" value="{php echo $this->createMobileUrl('index')}">
                <a type="button" id="cancel" class="headerlink" href="javascript:history.go(-1);">取消</a>
                <a href="javascript:void(0);" id="submit" class="headerlink" style="display: none;">搜索</a>
            </div>
        </div>
    </div>
</nav>
<script>
    $("#search_box").click(function () {
        $("#cancel").hide();
        $("#submit").show();
    });
    $("#search_box").blur(function () {
        var $keyword=$("#search_box");
        if ($keyword.val().trim()=="") {
            $("#cancel").show();
            $("#submit").hide();
            $keyword.val("");
        }
    });
    $("#submit").click(function () {
        if ($("#search_box").val().trim()!='')
            window.location.href=$("#index_url").val()+'&op=search&keyword='+$("#search_box").val();
        else
                alert("输入不能为空");
    });
</script>