{template 'header_back'}
<link rel="stylesheet" href="../addons/llh_jwschool/template/css/basic_info.css"/>
<script>
    var $header=$("#header_back");
    $header.css("background","transparent");
    $header.css("z-index","999");
</script>
<div class="header_bg">
    <div id="gravatar_block" class="container">
        <img src="{$avatar}" class="center-block img-responsive img-circle" alt="Responsive image">
    </div>
    <div id="info_block" class="text-center">
        <a>
            {$nickname}<span class="badge" style="background-color: #5bc0de;margin-left: 10px;">{if $gender==2}♀{else if $gender==1}♂{else}保密{/if}{$age}</span>
        </a>
    </div>
</div>

{template 'footer'}