{template 'common/header'}
<link rel="stylesheet" href="../addons/llh_jwschool/template/css/common.css"/>
<link rel="stylesheet" href="../addons/llh_jwschool/template/css/index.css"/>
<link rel="stylesheet" href="../addons/llh_jwschool/template/css/state.css"/>

{if $_GPC['op']=='search'}
    {template 'header_back'}
    <script>
        $("#title").text("搜索\"{$_GPC['keyword']}\":");
    </script>
{else if $_GPC['op']=='homepage'}
    {template 'header_back'}
    <script>
        $("#title").text("{$nickname}的主页");
        $("#header_back").css("margin",'0');
    </script>
    {template 'basic_info'}
    <div class="content-block">
        <div class="info_title"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>个人资料</div>
        <div class="info_line">所在地&nbsp;&nbsp;{$location}</div>
        <div class="info_line">手机号&nbsp;&nbsp;{$mobile}</div>
        <div class="info_line">QQ&nbsp;&nbsp;{$qq}</div>
    </div>
{else if $_GPC['op']=='mystates'}
{template 'header_back'}
<script>
    $("#title").text("我的约游");
</script>
{else}
<nav id="header_back" class="navbar navbar-default navbar-static-top">
    <div style="float: left;width: 10%;">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
    </div>
    <div style="float: left;width: 80%;">
        <a href="{php echo $this->createMobileUrl('search');}">
            <input type="text" class="form-control" placeholder="搜索标签或内容">
        </a>
    </div>
    <a href="{php echo $this->createMobileUrl('newstate');}">
        <div style="float: left;width: 10%;">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </div>
    </a>
</nav>
{/if}
<div class="state-area">
    {loop $state_data $s}
    <a class="state clearfix" href="javascript:void(0);" data-uid="{$s['id']}">
        <div class="content-block clearfix">
            <div class="poster-info clearfix" style="border-bottom: 1px solid #eee;">
                <div data-uid="{$s['openid']}" class="avatar-block pull-left clearfix">
                    <img src="{if $s['avatar']}{$s['avatar']}{else}http://tp4.sinaimg.cn/3927645471/180/5753508523/1{/if}" class="center-block img-responsive img-circle"/>
                </div>
                <div class="detail-block pull-left clearfix">
                    <div class="line"><span class="link">{$s['nickname']}<span class="badge"
                                                                               style="background-color: {if $s['gender']==2}#d9534f{else if $s['gender']==1}#5bc0de{else}#777{/if};margin-left: 5px;">{if $s['gender']==2}♀{else if $s['gender']==1}♂{else}保密{/if}{$s['age']}</span></span>
                    </div>
                    <div class="line "><span class="normal">{$s['release_TIME']}</span></div>
                </div>
            </div>
            <div class="content clearfix">
                <span class="link pull-left">{$s['travel_TIME']}&nbsp;</span>
                {$s['content']}
            </div>
            <div class="tag-container clearfix">
                <span class="glyphicon glyphicon-tag pull-left" aria-hidden="true" style="margin: 2px 2px"></span>
                {loop $s['tags'] $t}
                <span class="tag" data-tag="{$t}">{$t}</span>
                {/loop}
            </div>
            <div class="content-images clearfix">
                {loop $s['pic_URL'] $v}
                <div class="pull-left images">
                    <img src="{$v}" class="center-block img-responsive">
                </div>
                {/loop}
            </div>
            <div class="content-bottom line" style="margin-top: 5px;position: relative;">
                <span class="glyphicon glyphicon-map-marker" style="margin: 0;" aria-hidden="true"></span>
                <span class="normal pull-left-center">我在&nbsp;{$s['position']}</span>
                <span class="normal pull-right-center">浏览{$s['views']}&nbsp;评论{$s['comments_NUM']}</span>
            </div>
        </div>
    </a>
    {/loop}
</div>
<input type="text" style="display: none" id="last_id">
<div class="action_button" style="display: none;">
    <span class="glyphicon glyphicon-refresh" style="margin: 0;" aria-hidden="true"></span>
</div>
<script>
    if (history && history.pushState) {
        var loaded = false;
        $(window).bind("popstate", function() {
            if (!loaded) {
                loaded = true;
            } else {
                $.getScript(location.href);
            }
        });
    }

    $(document).ready(function () {
        var range = 600;             //距下边界长度/单位px
        var prePos=$(window).scrollTop();
        var flag=true;
        var totalheight = 0;
        var main = $("#state-area");                //主体元素
        $(".action_button").on("click",function (e) {
            location.assign(location);
            var href = $(this).attr("href");
            var pos = $(href).offset().top;
            $(window).animation({scrollTop:pos},2000);
            e.stopPropagation();
        });
        $(window).scroll(function () {
            var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)
            //console.log("滚动条到顶部的垂直高度: "+$(document).scrollTop());
            //console.log("页面的文档高度 ："+$(document).height());
            //console.log('浏览器的高度：'+$(window).height());
            totalheight = parseFloat($(window).height()) + parseFloat(srollPos);
            if (srollPos<prePos)
                $(".action_button").show();
            else
                $(".action_button").hide();
            prePos=srollPos;
            if (($(document).height() - range) <= totalheight && flag) {
                console.log('到达页面底部');
                flag=false;
                $.ajax({
                    url: "{php echo $this->createMobileUrl('getstate')}",
                    dataType: 'json',
                    type: "post",
                    data: {last_id: $("#last_id").val(),keyword:"{$_GPC['keyword']}",openid:"{$_GPC['openid']}"
                        },
                    success: function (data) {
                        //console.log(data.size);
                        //console.log(data.last_id);
                        for (var s = 0; s < data.size; ++s) {
                            var elem = '<a class="state clearfix" href="' + data[s].detail_link + '">'
                                    + '<div class="content-block clearfix">'
                                    + '<div class="poster-info clearfix" style="border-bottom: 1px solid #eee;">'
                                    + '<div class="avatar-block pull-left clearfix">'
                                    + '<img src="' + data[s].avatar + '" class="center-block img-responsive img-circle"/>'
                                    + '</div>'
                                    + '<div class="detail-block pull-left clearfix">'
                                    + '<div class="line"><span class="link">'+data[s].nickname+'<span class="badge" style="background-color: #5bc0de;">' + (data[s].gender ==2 ? '♀' : '♂') + data[s].age+'</span></span></div>'
                                    + '<div class="line "><span class="normal">' + data[s].release_TIME + '</span></div>'
                                    + '</div>'
                                    + '</div>'
                                    + '<div class="content clearfix">'
                                    + '<span class="link pull-left">' + data[s].travel_TIME + '</span>&nbsp;'
                                    + data[s].content
                                    + '</div>'
                                    + '<div class="tag-container clearfix">'
                                    + '<span class="glyphicon glyphicon-tag pull-left" aria-hidden="true" style="margin: 0 2px"></span>';
                            console.log(data[s].tags.length);
                            for (var i = 0; i < data[s].tags.length; i++) {
                                elem += '<span class="tag" data-tag="' + data[s].tags[i] + '">' + data[s].tags[i] + '</span>';
                            }
                            elem += '</div>'
                                    + '<div class="content-images clearfix">';
                            for (var i = 0; i < data[s].pic_URL.length; i++) {
                                elem += '<div class="pull-left images">'
                                        + '<img src="' + data[s].pic_URL[i] + '" class="center-block img-responsive">'
                                        + '</div>';
                            }
                            elem += '</div>'
                                    + '<div class="content-bottom line" style="margin-top: 5px;position: relative;">'
                                    + '<span class="glyphicon glyphicon-map-marker" style="margin: 0;" aria-hidden="true"></span>'
                                    + '<span class="normal pull-left-center">我在&nbsp;' + data[s].position + '</span>'
                                    + '<span class="normal pull-right-center">浏览' + data[s].views + '&nbsp;评论' + data[s].comments_NUM + '</span>'
                                    + '</div>'
                                    + '</div>'
                                    + '</a>';
                            $(".state-area").append($(elem));
                        }
                        console.log("ajax加载成功");
                        flag=true;
                        $("#last_id").val(data.last_id);
                        window.history.replaceState(null, document.title, this.href);
                    },
                    error: function () {
                        console.log("ajax加载失败");
                        flag=true;
                    }
                });
            }
        });
    });
    $(function () {
        $("#last_id").val("{php echo $state_data[count($state_data) - 1]['id']}");
    });
    $(".avatar-block").on("click",function (e) {
        window.location.href="{php echo $this->createMobileUrl('index');}"+'&openid='+$(this).data('uid')+'&op=homepage';
        e.stopPropagation();
    });
    $(".state").on("click",function (e) {
        var state = {
            title: "index",
            url: window.location.href
        };
        var next_url="{php echo $this->createMobileUrl('statedetail');}"+'&state_ID='+$(this).data('uid');

        window.location.href=next_url;
        e.stopPropagation();
    });
</script>

{template 'footer'}