{template 'common/header'}

<link rel="stylesheet" href="../addons/llh_jwschool/template/css/common.css"/>
<link rel="stylesheet" href="../addons/llh_jwschool/template/css/usercenter.css"/>

{template 'basic_info'}

<div>
    <div class="entry-group">
        <a href="#">
            <div class="entry entry-inline">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span><span>个人主页</span><span class="gt pull-right"> &gt </span>
            </div>
        </a>
        <div class="padding-r" style="display: flex;">
            <a href="{php echo $this->createMobileUrl('index')}" class="entry-block flex-1">
                <div class="tab-img">
                    <img src="../addons/llh_jwschool/images/icon_nav_button.png" class="center-block img-responsive">
                </div>
                <div class="text-center">index</div>
            </a>
            <a href="javascript:;" class="entry-block flex-1">
                <div class="tab-img">
                    <img src="../addons/llh_jwschool/images/icon_nav_article.png" class="center-block img-responsive">
                </div>
                <div class="text-center">发现</div>
            </a>
            <a href="javascript:;" class="entry-block flex-1">
                <div class="tab-img">
                    <img src="../addons/llh_jwschool/images/icon_nav_article.png" class="center-block img-responsive">
                </div>
                <div class="text-center">发现</div>
            </a>
            <a href="{php echo $this->createMobileUrl('usercenter');}" class="entry-block flex-1">
                <div class="tab-img">
                    <img src="../addons/llh_jwschool/images/icon_nav_cell.png" class="center-block img-responsive">
                </div>
                <div class="text-center">我</div>
            </a>
        </div>
    </div><!-- end of entry-group -->
    <div class="entry-group">
        <a href="{php echo $this->createMobileUrl('editprofile');}">
            <div class="entry entry-inline entry-last">
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span><span>个人资料</span><span class="gt pull-right"> &gt</span>
            </div>
        </a>
    </div><!-- end of entry-group -->

    <div class="entry-group">
        <a href="#">
            <div class="entry entry-inline">
                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span><span>我的约游</span><span class="gt pull-right"> &gt </span>
            </div>
        </a>
        <a href="#">
            <div class="entry entry-inline entry-last">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span><span>我的评论</span><span class="gt pull-right"> &gt </span>
            </div>
        </a>
    </div><!-- end of entry-group -->
</div>

{template 'footer'}