/**
 * Created by Phpstorm.
 * User: 0xLLLLH
 * Date: 2016.3.29
 * Description：公共样式及基本的header,footer的样式
 */

@primary-background-color: #5cb85c;
@text-in-primary-background-color: #fff;

body{
  min-height: 400px;
  padding-bottom: 70px;
  color: #555;
  background-color: #f9f9f9;
  font-size: 1em;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

a,a:hover{
  text-decoration: none;
  color: inherit;
}

.flex-1{
  flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex-direction: row;
  width: 33%;
}
@header-back-height:40px;
@header-back-padding:10px;

#header_back{
  height: @header-back-height;
  padding: @header-back-padding 2px;
  font-size: @header-back-height - 2*(@header-back-padding);
  background-color: @primary-background-color;
  color: @text-in-primary-background-color;
  margin-bottom: 10px;
}

.glyphicon{
  margin: 0 15px;
}

#footer .tab-img{
  padding: 0 40%;
}

#footer a{
  padding: 5px;
  border-top: 1px solid #ddd;
}